@page
@model IndexModel
@{
    ViewData["Title"] = "Raf's";
}
    
        <div class="text-center">


            <h1> Coffee Machine </h1>
            <article>

                <div class="what">What drink would you like?</div>
                <div id="drink">
                    <div class="drink"> <button class="lemonTea">Lemon Tea</button></div>
                    <div class="drink"> <button class="coffee">Coffee</button></div>
                    <div class="drink"> <button class="chocolate">Chocolate</button></div>
                </div>

                <div class="drink" id="result"></div>
                <div class="drink" id="action"></div>

            </article>
        </div>
   
       
        


     
